@import "../../variables";

.filter-container {
  margin: 0 auto;
  background-color: #61dafb;
  transition: all 0.3s ease-out;
}

.expanded {
  height: 200px;
}

.closed {
  height: 0px;
}

.main-view-container {
  background-color: #fffaed;
}

.masonry-container {
  max-width: 1920px;
  margin: 0 auto;
}

.masonry-component {
  margin: 0 auto;
  padding-top: 15px;
}
