@import "../../variables";

.filter-container {
  margin: 0 auto;
  transition: all 0.3s ease-out;
}

.expanded {
  height: auto;
}

.closed {
  height: 0px;
}

.search-view-container {
  background-color: #fffaed;
  height: calc(100vh);
}

.masonry-container {
  max-width: 1920px;
  margin: 0 auto;
}

.masonry-component {
  margin: 0 auto;
  padding-top: 15px;
}

.nav-bar-place-holder {
  height: 60px;
  flex: 0 0 auto;

}

.filter-select-container {
  width: 180px;

}

.filter-container {
  margin: 10px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 3px;
  flex: 0 0 auto;

}

.not-found-outer-container {
  display: flex;
  height: 100%;
  flex-flow: column;
}

.not-found-inner-container {
  flex: 1 1 auto;
  position: relative;
  background-color: #fffaed;

}


.search-background {
  background-color: #fffaed;

}

.not-found-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  color: #777;
}

.slider {
  width: 300px;
}
