@import "../../variables";
@import url('https://fonts.googleapis.com/css?family=Handlee|Concert+One');

body{
  //background-image:linear-gradient(to right top, #ecd944, #efc238, #f0ab32, #ed9531, #e87e34, #e67837, #e4723a, #e16c3d, #e47540, #e67e44, #e98648, #eb8f4c);
  //background-repeat: no-repeat ;
  //background-size: cover;
  //background-attachment: fixed;
  //background-color: wheat;
}

.self{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ratings{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  p{
    margin-left: 10px;
    font-size: 20px;
  }
}

.description{
  font-size: 50px;
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 30px;
  }
}

.imgContainer{
  vertical-align: middle;
  width:300px;
  height: 300px;


  img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.buttonGroup{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 10%;
  margin-bottom: 50px;
  Button{
    margin: 10px;
  }
}


.buttonContainer{
  outline: none;
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: #FFF;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)

}

.buttonContainer:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 8px 10px 12px;
  background-position: right center;
}
