@import "../../variables";
@import url('https://fonts.googleapis.com/css?family=Handlee|Concert+One');


.nav-expanded{
  background-image: $main-background;
  width: 100%;
  height: 600px;
  z-index: 2;
  position: absolute;
}

.nav-minimized{
  background-image: $main-background;
  width: 100%;
  height: 600px;
  position: fixed;
  top: -540px;
  z-index: 2;

}

.nav-item-left{
  color: $main-font-color;
  float: left;
  margin-left:30px;
  height: 60px;
  font-weight: lighter;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top:560px;
  font-family: 'Concert One', sans-serif;
}

.nav-item-right{
  color: $main-font-color;
  margin-right:30px;
  height: 60px;
  font-weight: lighter;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top:560px;
  right: 0;
  font-family: 'Handlee', sans-serif;
}

.nav-item-right-img {
  color: $main-font-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right:40px;
  height: 50px;
  font-weight: lighter;
  cursor: pointer;
  margin-top: -15px;
  font-size: 30px;
  position: absolute;
  top: 560px;
  right: 0;

  a {
    height: 45px;
    width: 45px;
    margin: 0px 10px;
  }

  .nav-item-avatar {
    height: 100%;
    border: 2.3px solid white;
    border-radius: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.208);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    color: white;

    .nav-avatar-mask {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      opacity: 0;
      background-color: #ff7e71;
      transition: .3s;
      font-size: 20px;
    }

    #sign-out {
        background-color: #485DA6;
        opacity: 1;
    }

    &:hover {
      transform: scale(1.2);
      
      .nav-avatar-mask {
        opacity: 1;
        transition: .3s;
      }

      #sign-out {
        background-color: rgb(203, 72, 72);
        opacity: 1;
      }
    }

    &:active {
      transform: scale(1.05);
    }
  }

  
}

.disable-select{
  user-select: none;
  -moz-user-select: none;
}

.title{
  position: absolute;
  top: 280px;
  width: 100%;
  text-align: center;
  margin:0 auto;
  color: $main-font-color;
  font-size: 140px;
  text-shadow: 3px 3px 3px #A8AAA0;
}

.icon-dog{
  height: 50px;
  width: 50px;
  position: relative;
  top: -66px;
  right: 193px;
  transform: rotate(0deg);
}

.icon-cat{
  height: 50px;
  width: 50px;
  position: relative;
  top:-72px;
  left:145px;
  transform: rotate(0deg);
}

.search{
  width: 500px;
  position: fixed;
  margin:0 auto;
}


