.masoryContainer{
  margin: 0 auto;

}
.potsNew{
  border: gray dotted;
  width: 290px;
  height: 340px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  //box-shadow:2px 2px 2px ;
  &:hover{
      opacity: 1;
    transform: scale(1.05);
    transition: 0.2s;
  }
  margin: 20px 10px;
}

.gridItemContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  ;
}

.submitForm{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.inputFiled{
  width: 200px;
}

.icon{
  margin-left: 5px;
}

.grid {
  display: flex;
  padding: 50px 150px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.gridImage{
  height: 500px;
}

.gridCard{
  height: 340px;
  margin: 20px 10px !important;
}

.gridCardContainer
{
  position: relative;

  &:hover{
    //opacity: 0.7;
    transform: scale(1.05);
    transition: 0.2s;

  }

}
.gridCardContainer:before, .gridCardContainer:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;

}
.gridCardContainer:after
{
  right: 10px;
  left: auto;
}
