@import "../../variables";
$login-input-bg-color: #fafafa;
$login-input-ph-color: #999;
$bt-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$bt-bg-color: linear-gradient(to right, #944b94 0, #d75a88 21%, #ff7e71 60%);
$err-txt-color: #e85965;
$vip-txt-color: #ffb25f;
$wrapper-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
$auto-fill-shadow: 0 0 0px 1000px $login-input-bg-color inset;
$time: 0.3s;

.cp-root {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: $main-background;
}

.slogan {
    color: rgb(96, 111, 162);
    font-weight: bold;
    font-size: 40px;
    margin: 0;

    span {
        margin: 0px 20px;
    }
}

.wrapper {
    width: 400px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin: 10px 0px;
    transition: $time;
    box-shadow: $wrapper-shadow;

    .app-title {
        box-shadow: none;
        margin: 5px 10px;
        color: black;
        font-size: 30px;
    }

    .error-text {
        color: $err-txt-color;
        margin: 10px;
    }

    .avatar-holder {
        width: 100px;
        height: 100px;
        margin: 10px 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        border: 5px solid white;
        transition: $time;

        input {
            display: block;
            visibility: hidden;
            width: 0;
            height: 0;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0px 7px 10px 4px rgba(0, 0, 0, 0.2);
            transition: $time;
            transform: scale(1.1);

            .avatar-mask {
                opacity: 1;
                transition: $time;
            }
        }

        &:active {
            transform: scale(1.05);
        }

        .avatar-mask {
            opacity: 0;
            color: white;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background: #ff7e71;
            width: 100%;
            height: 100%;
            transition: $time;
        }
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px;

        input {
            color: black;
            width: 70%;
            -webkit-appearance: none;
            flex: 1 0 0px;
            margin: 0;
            outline: 0;
            overflow: hidden;
            padding: 9px 0 7px 8px;
            text-overflow: ellipsis;
            border-radius: 2px;
            margin: 5px 0px;
            background-color: $login-input-bg-color;
            border: 1px solid $login-input-bg-color;
            appearance: none !important;
            transition: $time;

            &:focus {
                border-color: #ffb25f;
                transition: $time;
            }
        }

        input:-webkit-autofill {
            box-shadow: $auto-fill-shadow;
            -webkit-box-shadow: $auto-fill-shadow;
        }

        ::placeholder {
            color: $login-input-ph-color;
        }

        .required::placeholder {
            color: $vip-txt-color;
        }
    }

    .submit-bt {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $bt-bg-color;
        background-size: 200% auto;
        border-radius: 4px;
        padding: 5px;
        width: 70%;
        color: #fff;
        transition: $bt-transition;
        outline: none;

        &:disabled {
            opacity: 0.3;
        }

        &:hover:not([disabled]) {
            transition: $bt-transition;
            cursor: pointer;
            background-position: right center;
        }
    }
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;

    .app-text {
        margin: 10px;
    }

    a {
        color: #485da6;
        transition: $time;

        &:hover {
            transition: $time;
            color: #944b94;
        }
    }
}

/* Loading animation from https://loading.io/css/ */
.lds-ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
