$main-background: linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);
$main-background-match: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
$main-font-color: #faf3e7;
